
<div class="container">
    <div class="row">


        <div class="col-sm-12">
          <form class="form-inline">
             <fieldset class="form-group col-sm-11"></fieldset>
             <fieldset class="form-group col-sm-1"><a class="btn btn-primary" routerLink="['/tareas/new']">+</a></fieldset>
          </form>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col-sm-2">Nombre</th>
                        <th class="col-sm-1">Cantidad</th>
                        <th class="col-sm-2">Descripción</th>
                        <th class="col-sm-1">Fecha</th>
                        <th class="col-sm-2">Estado</th>
                        <th class="col-sm-1">Valor Unitario</th>
                        <th class="col-sm-1">Valor Total</th>
                       
                    </tr>
                </thead>
                

                <tbody>
                    <tr *ngFor="let tarea of tareas$ | async" class="row">
                                                             
                       <td class="col-sm-2"><i>{{tarea.nombre}}</i></td>
                       <td class="col-sm-1"><i>{{tarea.cantidad}}</i></td>
                       <td class="col-sm-2"><i>{{tarea.descripcion}}</i></td>
                       <td class="col-sm-1"><i>{{tarea.fecha | date:'yyyy-MM-dd'}}</i></td>
                       <td class="col-sm-2"><i>{{tarea.estado}}</i></td>
                       <td class="col-sm-1"><i>{{tarea.valorUnitario}}</i></td>
                       <td class="col-sm-1"><i>{{tarea.valorTotal}}</i></td>
            
                       <td class="col-sm-1"><a class="btn btn-info" routerLink="[/tareas',tarea._id,'edit']">Edit</a></td>
                       <td class="col-sm-1"><a class="btn btn-danger" (click)="deleteTarea(tarea._id)">-</a></td>
                    </tr>
              
                      </tbody>
               
            </table>
        </div>


    </div>
</div>