
          
            <div class="container">
                <div class="d-flex justify-content-end">
                <button class="btn btn-primary mr-5">
                    <a [routerLink]="['/tareas/wear/mean/new']">+</a>
                </button>
              </div>
            </div>
        
            <br>
            <div class="container">
                  
            <div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">     
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Valor Unitario</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tarea of tareas$ | async">
                                                             
                       <td><em>{{tarea.nombre}}</em></td>
                       <td>{{tarea.cantidad}}</td>
                       <td><em>{{tarea.descripcion}}</em></td>
                       <td>{{tarea.fecha | date:'yyyy-MM-dd'}}</td>
                       <td>{{tarea.estado}}</td>
                       <td>  {{tarea.valorUnitario}}</td>
                       <td>{{tarea.valorTotal}}</td>
                       <td><a class="btn btn-info btn-sm" [routerLink]="['/tareas/wear/mean', tarea._id, 'edit']">Edit</a></td>
                       <td><a class="btn btn-danger btn-sm" (click)="deleteTarea(tarea._id)">-</a></td>
                    </tr>
              
                      </tbody>
               
            </table>
        </div>
    </div>

    


    
