<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <form class="form-inline">
             <fieldset class="form-group col-sm-11"></fieldset>
             <fieldset class="form-group col-sm-1"><a class="btn btn-primary" [routerLink]="['/tareas/new']">+</a></fieldset>
          </form>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col-sm-6">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tarea of tareas$ | async" class="row">
                                                             
                       <td class="col-sm-6"><i>{{tarea.nombre}}</i></td>
 
                    </tr>
                </tbody>
                    //
                    <thead>
                        <tr class="row">
                            <th class="col-sm-6">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tarea of tareas$ | async" class="row">
                                                                 
                           <td class="col-sm-6"><i>{{tarea.cantidad}}</i></td>
     
                        </tr>
                    </tbody>    
                        //
                    <thead>
                      <tr class="row">
                         <th class="col-sm-6">Descripción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tarea of tareas$ | async" class="row">
                                                                     
                         <td class="col-sm-6"><i>{{tarea.descripcion}}</i></td>
         
                      </tr>
                    </tbody>
                    //
                    <thead>
                        <tr class="row">
                           <th class="col-sm-6">Fecha</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let tarea of tareas$ | async" class="row">
                                                                       
                           <td class="col-sm-6"><i>{{tarea.fecha}}</i></td>
           
                        </tr>
                      </tbody>
                      //
                      <thead>
                        <tr class="row">
                           <th class="col-sm-6">Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let tarea of tareas$ | async" class="row">
                                                                       
                           <td class="col-sm-6"><i>{{tarea.estado}}</i></td>
           
                        </tr>
                      </tbody>
                      //
                      <thead>
                        <tr class="row">
                           <th class="col-sm-6">Valor Unitario</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let tarea of tareas$ | async" class="row">
                                                                       
                           <td class="col-sm-6"><i>{{tarea.valorUnitario}}</i></td>
           
                        </tr>
                      </tbody>
                      //
                      <thead>
                        <tr class="row">
                           <th class="col-sm-6">Valor Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let tarea of tareas$ | async" class="row">
                                                                       
                           <td class="col-sm-6"><i>{{tarea.valorTotal}}</i></td>
            
                        </tr>
                      </tbody>
                      <tbody>
                        <tr *ngFor="let tarea of tareas$ | async" class="row">
                                                                       
                           <td class="col-sm-1"><a class="btn btn-info" [routerLink]="['/tareas',tarea._id,'edit']">Edit</a></td>
            
                        </tr>
                      </tbody>
                      
               <!-- public _id:string,
                public nombre: string,
                public cantidad:number,
                public descripcion:string,
                public fecha:Date,
                public estado:TareaEstados,
                public valorUnitario:number,
                public valorTotal:number-->

            </table>
        </div>
    </div>

</div>